body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

.para {
    height: 100px;
    width: 100%
}

#gradient
{
  width: 100%;
  height: 875px;
  padding: 0px;
  margin: 0px;
}

#title {
    text-align: center;
}

#title > img{
    height: 875px;
    width: 50%
}

#content {
    position:absolute;
    left: 700px;
    top: 400px;
    z-index: 1;
    border-style: none;
}

#title > p{
    color: white;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right{
    transform: rotate(-45deg);
}

h2 {
    background-color: #00FFFF;
    width: 100%;
    text-align: center;
}

#section1 {
    padding-top: 35px;
}


#section2 {
    padding-top: 35px;
    height: 875px;
    width: 100%;
}

#section3 {
    padding-top: 35px;
    height: 875px;
    width: 100%;
}

img {
    border: none;
    height: 300px;
    width: 600px;
}


a:hover {
    color: white;
}

a:-webkit-any-link {
    color: white;
}


/* Feature Section 1 */
#feature-area{
    padding-top: 60px;
    height: 875px;
}
.feature-content-title {
    padding: 0 20px;
    text-align: left;
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.feature-content-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.feature-content {
    background: #F2F2F2;
    padding-bottom: 40px;
    padding-top: 40px;
}
.feature-content > img {
    height: inherit;
    width: 325px;
}

.white-text { color: floralwhite; }
.blue-btn { background: #1686C1; }
/* End Feature section 1 */

/* Blog Stuff*/
#blog-area {
    padding-top: 60px;
    height: 875px;
}

.blog-content {
    padding-bottom: 40px;
    padding-top: 40px;
    background: #F2F2F2;
}

.blog-content > img {
    width: inherit;
    padding: 10px; 
}
/* End Blog*/

/* */
.about-content > h2{
    background: #00FFFF;
    color: white;
 
}
.about-content > img{
    border-radius: 100%;
    width: 35% 
}
.about-content > ol {
    list-style-type: upper-roman;
    list-style-position: inside;
    color: lightseagreen;
 
}
.about-content {
    background: #F2F2F2;
}


/* */
.footer {
    background: #00FFFF;
}

#footer-content {
    padding-top: 10px;
}